<!-- add new item
edit or delete ng-repeat item
logout -->

<header>

<div class="wrapper">
                <a href="#"><img src="assets/img/logo.png" class="logo" alt="" title=""/></a>
                <a href="#" class="hamburger"></a>
                
            </div>
        </header>

<div id="page-content-wrapper" class="productList">

    <div>
    <h1>Product Management Panel</h1>
    </div>
    <div class="form-group row">     
        <table class="productList" style="width:100%">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                
            </tr>
            <tr ng-repeat="product in ctrl.products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.category}}</td>
                <td><a ng-click="ctrl.editProduct(product)"><span style="color:green">Edit</span></a></td>
                <td><a ng-click="ctrl.deleteProduct(product.id)">Delete</a></td>
            </tr>
        </table>
    </div>  
    
</div>

